.lightbox-modal {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:9999;
    transition:opacity .4s;
    background-color:rgba(0,0,0,0.8);
    opacity:0;
}
.lightbox-modal.active {
    opacity:1;
}
.lightbox-img {
    display:block;
    max-width:100%;
    max-height:96vh;
    transform:scale(1.01);
/*     float:right; */
}
.lightbox-image {
    position:relative;
    text-align:right;
/*     flex:0 1 1px; */
/*     left:50%; */
/*     top:50%; */
/*     transform:translate(-50%,-50%); */
/*     background-color:#fff; */
/*     padding:15px; */
    max-height:96vh;
    overflow:hidden;
    border-radius:7px 0 0 7px;
}
.lightbox-container {
    position:absolute;
    top:2%;
    left:2%;
}
.lightbox-table {
    border-collapse:collapse;
    border-spacing:0;
    display:block;
    max-width:96vw;
    max-height:96vh;
    position:relative;
    top:48vh;
    left:48vw;
    transform:translate(-50%,-50%);
}
.lightbox-caption {
    background-color:#fff;
    max-width:250px;
    font-family:'Apercu',sans-serif;
    vertical-align:top;
/*
    background-color:#fff;
    top:0;
    right:0;
    bottom:0;
    width:20%;
*/
    padding:20px;
    border-radius:0 7px 7px 0;
}
.lightbox-caption H2 {
    font-family:"Linotype Didot W01",serif;
    font-size:1.2em;
    font-weight:normal;
}
.lightbox-button {
    display:block;
    position:absolute;
    width:50px;
    height:50px;
    box-sizing:border-box;
    border:3px solid #fff;
    border-radius:50px;
    background-color:rgba(0,0,0,0.6);
    top:50%;
    transform:translateY(-50%);
    transition:background-color .25s;
    cursor:pointer;
}
.lightbox-button:hover {
    background-color:#fff;
}
.lightbox-button:hover:after {
    border-color:#000;
}
.lightbox-button:hover:before {
    border-color:#000;
}
.lightbox-button-close {
    top:15px;
    right:15px;
    transform:none;
}
.lightbox-button-prev:after,
.lightbox-button-next:after {
    content:'';
    position:absolute;
    transform:rotate(45deg);
    left:8px;
    top:12px;
    width:15px;
    height:15px;
    border-top:5px solid #fff;
    border-right:5px solid #fff;
    transition:border-color .25s;
}
.lightbox-button-prev:after {
    transform:rotate(-135deg);
    left:15px;
}
.lightbox-button-next {
    right:15px;
}
.lightbox-button-prev {
    left:15px;
}
.lightbox-button-close:after {
    content:'';
    position:absolute;
    transform:rotate(45deg);
    left:7px;
    top:20px;
    width:30px;
    border-top:5px solid #fff;
    transition:border-color .25s;
}
.lightbox-button-close:before {
    content:'';
    position:absolute;
    transform:rotate(-45deg);
    left:7px;
    top:20px;
    width:30px;
    border-top:5px solid #fff;
    transition:border-color .25s;
}
